/*Here is how site looks*/ 
*
{ /*this affects all site elements*/
    font-family: 'Varela Round', sans-serif;
    color: #222020; /*Text color*/
}

body
{
    background: #381f4d;
    margin-left: 8%;
    margin-right: 8%;
}

/*body is an element that woud be affected*/

p
{
	text-align: left;
    font-size: 15px;
}

ps
{ 
    font-size: 15px;
} /* I don't think this is in use anymore but I'll leave it for the moment*/

nav
{
    background: #ebebeb;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}

pre
{
	font-family: 'Courier New', monospace;
}

.navlink:hover
{
    background: #b6b5b6;
    /*padding: 20px;  you can uncomment it if you want*/
}

.navlink a.active
{
    background-color: #904caf;
    color: #ebebeb;
  }

.navlink
{
    padding: 15px;
    text-decoration: none;
    color: #222020;
}

.navlinkac
{
    padding: 15px;
    text-decoration: none;
    color: #7b2dbb;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #ebebeb;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 15px;
  color: #222020;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 15px;
  border: none;
  outline: none;
  color: 222020;
  padding: 15px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #b6b5b6;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ebebeb;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 2px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #b6b5b6;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.navdivider
{
	color: #ababab;
	padding-left: 10px;
	padding-right: 10px;
	/*text-align: center;*/
	font-size: 12px;
}

footer
{
    margin-top: 5px;
    background: #ebebeb;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
}

.footlink
{
    text-decoration: none;
    color: #222020;
}

a
{
    
    color: #7b2dbb;
    text-decoration: None;
}

a:hover
{
    text-decoration: none;
    color: #212022;
}

article
{
    margin-top: 5px;
    background: #ebebeb;
    padding: 20px;
    border-radius: 15px;
}

h1
{
    text-align: center;
}

h2
{
    text-align: center;
}

h3
{
    text-align: center;
}

h6
{
    text-align: center;
}

.floatBG
{
	background: #d1d1d1;
    border-radius: 15px;
	padding: 5px 5px 5px 5px;
}

.flLf /*Float left*/
{
    float: left;
	border-radius: 15px;
}

.flelefloatLeft
{
	float: left;
	border-radius: 15px;
	margin-right: 15px;
}

.flelefloatRight
{
	float: right;
	border-radius: 15px;
	margin: 0, 0, 0, 15px;
}

.flelefloatClear
{
	clear: both;
}


.sBs /*Side by side*/
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.floatctr
{
	float: center;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    max-width: 100%;
    height: auto;
}

.centersq
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.centervd
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    max-width: 100%;
    height: 17vw;
}

.cntr
{
    text-align: center;
    font-size: 15px;
}

.ctr
{
    text-align: center;
    font-size: 12px;
}

.centerreg
{
    text-align: center;
}

.centerhead
{
    text-align: center;
    font-size: 25px;
}

.centerheadsm
{
    text-align: center;
    font-size: 20px;
}

.topnav
{
    line-height: 50px;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 15px;
}

/*Got the responsive iframe from https://blog.theodo.com/2018/01/responsive-iframes-css-trick/ bless this person*/

.ver
{
	text-align: left;
}

.ver:hover
{
    background: #d1d1d1;
    border-radius: 15px;
}

ul
{
    margin-left: 10%;
    margin-right: 10%;
}

pre
{
    white-space: pre-wrap;
    width: 99%;
    overflow: auto;
    padding: 0;
    margin: 0;
}

/*Found here https://www.dlitz.net/stuff/pre-tag-overflow/ and the word wrap here https://mediatemple.net/blog/design-creative/considerations-for-styling-the-pre-tag/ Thanks so much this is so helpful*/


.linkbutton
{
	background: #d1d1d1;
	text-align: center;
    font-size: 15px;
	padding: 10px 50px 10px 50px;
	max-width: 25%;
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
}

.linkbutton:hover
{
	background: #b6b5b6;
}

.wrap
{
	word-wrap: break-word;
}

/*Collapsible code from here https://www.w3schools.com/howto/howto_js_collapsible.asp */
.collapsible {
	font-size: 20px;
	display: block;
	cursor: pointer;
	background: url(menu.png) no-repeat left center;
	padding: 10px 50px 10px 50px;
	text-align: center;
	background: #d1d1d1;
	margin-left: auto;
	margin-right: auto;
	max-width: 25%;
	border-radius: 25px;
}

.active, .collapsible:hover {
	background: #b6b5b6;
}

.collapsible-content {
	max-height: 100%;
	background-color: #d1d1d1;
	border-radius: 25px;
	padding: 20px 20px 20px 20px;
	overflow: hidden;
	display: none;
}

/*I used these collapsibles before I learned JavaScript https://codeburst.io/how-to-make-a-collapsible-menu-using-only-css-a1cd805b1390 */