/*Here is how site looks*/ 
*
{ /*this affects all site elements*/
    font-family: 'Varela Round', sans-serif;
    color: #222020; /*Text color*/
    text-align: left;
}

body
{
    background: #381f4d;
    margin-left: 8%;
    margin-right: 8%;
}

/*body is an element that woud be affected*/

p
{ 
    font-size: 20px;
}

ps
{ 
    font-size: 15px;
} /* I don't think this is in use anymore but I'll leave it for the moment*/

nav
{
    background: #ebebeb;
    padding-left: 15px;
    border-radius: 15px;
}

.navlink:hover
{
    background: #b6b5b6;
    /*padding: 20px;  you can uncomment it if you want*/
}

.navlink a.active
{
    background-color: #904caf;
    color: #ebebeb;
  }

.navlink
{
    padding: 15px;
    text-decoration: none;
    color: #222020;
}

.navlinkac
{
    padding: 15px;
    text-decoration: none;
    color: #7b2dbb;
}

footer
{
    margin-top: 5px;
    background: #ebebeb;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
}

.footlink
{
    text-decoration: none;
    color: #222020;
}

a
{
    
    color: #7b2dbb;
    text-decoration: None;
}

a:hover
{
    text-decoration: none;
    color: #212022;
}

article
{
    margin-top: 5px;
    background: #ebebeb;
    padding: 20px;
    border-radius: 15px;
}

h1
{
    text-align: center;
}

h2
{
    text-align: center;
}

h3
{
    text-align: center;
}

h6
{
    text-align: center;
}

.flLf
{
    float: left;
}

.sBs
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    max-width: 100%;
    height: auto;
}

.centersq
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.centervd
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    max-width: 100%;
    height: 17vw;
}

.cntr
{
    text-align: center;
    font-size: 15px;
}

.ctr
{
    text-align: center;
    font-size: 12px;
}

.centerreg
{
    text-align: center;
}

.centerhead
{
    text-align: center;
    font-size: 25px;
}

.centerheadsm
{
    text-align: center;
    font-size: 20px;
}

.topnav
{
    line-height: 50px;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 15px;
}

/*Got the responsive iframe from https://blog.theodo.com/2018/01/responsive-iframes-css-trick/ bless this person*/

.ver:hover
{
    background: #d1d1d1;
    border-radius: 15px;
}

ul
{
    margin-left: 10%;
    margin-right: 10%;
}

pre
{
    white-space: pre-wrap;
    width: 99%;
    overflow: auto;
    padding: 0;
    margin: 0;
}

  /*Found here https://www.dlitz.net/stuff/pre-tag-overflow/ and the word wrap here https://mediatemple.net/blog/design-creative/considerations-for-styling-the-pre-tag/ Thanks so much this is so helpful*/



/*Hangman with Tutorial*/
.HMtut-content {
    max-height: 0;
    overflow: hidden; 
    padding: 0 0 0 50px;
}
/* Toggle Effect */
input:checked ~ label {
    background-image: url(close.png);
}
input:checked ~ .HMtut-content {
    max-height: 100%;
    background-color: #d1d1d1;
    border-radius: 25px;
}

.collapsible-HMtut label {
    font-size: 20px;
    display: block;
    cursor: pointer;
    background: url(menu.png) no-repeat left center;
    padding: 10px 50px 10px 50px;
    text-align: center;
    background: #d1d1d1;
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
    border-radius: 25px;    
}

.collapsible-HMtut label:hover
{
    background: #b6b5b6;
}

input#HMtut {
    display: none;
}


/*Hangman minimal comments*/
.HMmin-content {
    max-height: 0;
    overflow: hidden; 
    padding: 0 0 0 50px;
}
/* Toggle Effect */
input:checked ~ label {
    background-image: url(close.png);
}
input:checked ~ .HMmin-content {
    max-height: 100%;
    background-color: #d1d1d1;
    border-radius: 25px;
}

.collapsible-HMmin label {
    font-size: 20px;
    display: block;
    cursor: pointer;
    background: url(menu.png) no-repeat left center;
    padding: 10px 50px 10px 50px;
    text-align: center;
    background: #d1d1d1;
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
    border-radius: 25px;    
}

.collapsible-HMmin label:hover
{
    background: #b6b5b6;
}

input#HMmin {
    display: none;
}



/*Continuous Petting*/
.Cntn-content {
    max-height: 0;
    overflow: hidden; 
    padding: 0 0 0 50px;
}
/* Toggle Effect */
input:checked ~ label {
    background-image: url(close.png);
}
input:checked ~ .Cntn-content {
    max-height: 100%;
    background-color: #d1d1d1;
    border-radius: 25px;
}

.collapsible-Cntn label {
    font-size: 20px;
    display: block;
    cursor: pointer;
    background: url(menu.png) no-repeat left center;
    padding: 10px 50px 10px 50px;
    text-align: center;
    background: #d1d1d1;
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
    border-radius: 25px;    
}

.collapsible-Cntn label:hover
{
    background: #b6b5b6;
}

input#Cntn {
    display: none;
}


/*S Spoilers*/
.sSpoilers-content {
    max-height: 0;
    overflow: hidden;
    padding-bottom: 20px;
}
/* Toggle Effect */
input:checked ~ label {
    background-image: url(close.png);
}
input:checked ~ .sSpoilers-content {
    max-height: 100%;
    background-color: #d1d1d1;
    border-radius: 25px;
    padding: 20px 20px 20px 20px
}

.collapsible-sSpoilers label {
    font-size: 20px;
    display: block;
    cursor: pointer;
    background: url(menu.png) no-repeat left center;
    padding: 10px 50px 10px 50px;
    text-align: center;
    background: #d1d1d1;
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
    border-radius: 25px;    
}

.collapsible-sSpoilers label:hover
{
    background: #b6b5b6;
}

input#sSpoilers {
    display: none;
}


/*Collapsible menu found here https://codeburst.io/how-to-make-a-collapsible-menu-using-only-css-a1cd805b1390 because I don't know how to use javascript*/